<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <title>Spring Security Demo</title>

    <!-- Styles -->
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

</head>
<body data-ng-app="appHome">

<div class="container">
    <ul class="nav nav-pills" role="tablist">
        <li><a href="/">main</a></li>
        <li class="active"><a href="/home">home</a></li>
        <li sec:authorize="isAnonymous()"><a href="/login">login</a></li>
        <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/secret">secret</a></li>
    </ul>
</div>

<div class="credits text-right">
    <div class="container">
        <div>
            <p class="navbar-text navbar-center" th:inline="text">Пользователь <a href="#" class="navbar-link">[[${#httpServletRequest.remoteUser}]]</a>!
            </p>
        </div>

        <div class="right">
            <form class="" th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-warning">Sign Out</button>
            </form>
        </div>
    </div>
</div>

<h1>Welcome!</h1>

<p>Yours home page.</p>

<div data-ng-controller="HomeController">
    <input type="text" data-ng-model="yourName" placeholder="Введите свое имя"/>

    <p>Привет {{yourName}}</p>
</div>

<div class="credits text-center">
    <p>
        <a href="https://github.com/selyutinartyom/Spring-Security-Demo">Github project</a>
    </p>

    <p>
        <a href="mailto:selyutinartyom@localhost">Feedback</a>
    </p>
</div>

<!-- Libraries -->
<script src="http://cdn.jsdelivr.net/webjars/angularjs/1.4.0/angular.min.js"
        th:src="@{/webjars/angularjs/1.4.0/angular.min.js}"></script>

<!-- Local scripts -->
<script th:src="@{/js/home.js}" src="/js/home.js"></script>

</body>
</html>