<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Security Demo</title>

    <!-- Styles -->
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
</head>
<body>

<div class="container">
    <ul class="nav nav-pills" role="tablist">
        <li class="active"><a href="/">main</a></li>
        <li><a href="/home">home</a></li>
        <li sec:authorize="isAnonymous()"><a href="/login">login</a></li>
        <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/secret">secret</a></li>
    </ul>
</div>

<div class="credits text-center">
    <p>
        <a href="https://github.com/selyutinartyom/Spring-Security-Demo">Github project</a>
    </p>

    <p>
        <a href="mailto:selyutinartyom@localhost">Feedback</a>
    </p>
</div>

</body>
</html>