<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <title>Secret page</title>

    <!-- Styles -->
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <ul class="nav nav-pills" role="tablist">
        <li><a href="/">home</a></li>
        <li><a href="/login">login</a></li>
        <li class="active"><a href="/secret">secret</a></li>
    </ul>
</div>

<div class="credits text-right">
    <div class="container">
        <div>
            <p class="navbar-text navbar-center" th:inline="text">Пользователь <a href="#" class="navbar-link">[[${#httpServletRequest.remoteUser}]]</a>!
            </p>
        </div>

        <div class="right">
            <form class="" th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-warning">Sign Out</button>
            </form>
        </div>
    </div>
</div>

<div class="credits text-center">
    <p>
        <a href="https://github.com/selyutinartyom/Spring-Security-Demo">Github project</a>
    </p>

    <p>
        <a href="mailto:selyutinartyom@localhost">Feedback</a>
    </p>
</div>

</body>
</html>